<!DOCTYPE html>
  <html>

    <head>
    </head>

    <body>

      <h1>Welcome to Movie Scrapper Online</h1>
      <h2>Made from Bordeaux, with Love</h2>

      <div class="placeholder">placeholder_for_form</div>

    </body>

  </html>
